@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #f1f0f6;
  --dark-grey: #8d8d8d;
  --light: #fff;
  --dark: #000;
  --green: #81d43a;
  --light-green: #e3ffcb;
  --light-dark: #333;
  --light-blue: #d0e4ff;
  --dark-blue: #0c5fcd;
  --red: #fc3b56;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  max-width: 260px;
  width: 100%;
  background: var(--light);
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all 0.3s ease;
  z-index: 200;
}
#sidebar.hide {
  max-width: 60px;
}
#sidebar.hide:hover {
  max-width: 260px;
}
#sidebar::-webkit-scrollbar {
  display: none;
}
#sidebar .brand {
  font-size: 24px;
  display: flex;
  align-items: center;
  height: 64px;
  font-weight: 700;
  color: var(--light-dark);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--light);
  transition: all 0.3s ease;
  padding: 0 6px;
}
#sidebar .icon {
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}
#sidebar .icon-right {
  margin-left: auto;
  transition: all 0.3s ease;
}
#sidebar .side-menu {
  margin: 36px 0;
  padding: 0 20px;
  transition: all 0.3s ease;
}
#sidebar.hide .side-menu {
  padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
  padding: 0 20px;
}
#sidebar .side-menu a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--dark);
  padding: 12px 16px 12px 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin: 4px 0;
  white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
  background: var(--grey);
}
#sidebar .side-menu > li > a.active .icon-right {
  transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
  background: var(--light-dark);
  color: var(--light);
}
#sidebar .divider {
  margin-top: 24px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark-grey);
  transition: all 0.3s ease;
  white-space: nowrap;
}
#sidebar.hide:hover .divider {
  text-align: left;
}
#sidebar.hide .divider {
  text-align: center;
}
#sidebar .side-dropdown {
  padding-left: 54px;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.15s ease;
}
#sidebar .side-dropdown.show {
  max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
  color: var(--light-dark);
}

/* SIDEBAR */

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 260px);
  left: 260px;
  transition: all 0.3s ease;
}
#sidebar.hide + #content {
  width: calc(100% - 60px);
  left: 60px;
}
/* NAVBAR */
nav {
  background: var(--light);
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  grid-gap: 28px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
nav .toggle-sidebar {
  font-size: 18px;
  cursor: pointer;
}
nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}
nav .form-group {
  position: relative;
}
nav .form-group input {
  width: 100%;
  background: var(--grey);
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 36px 10px 16px;
  transition: all 0.3s ease;
}
nav .form-group input:focus {
  box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
nav .nav-link {
  position: relative;
}
nav .nav-link .icon {
  font-size: 18px;
  color: var(--dark);
}
nav .nav-link .badge {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  font-size: 10px;
  font-weight: 700;
}
nav .divider {
  width: 1px;
  background: var(--grey);
  height: 12px;
  display: block;
}
nav .profile {
  position: relative;
}
nav .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
nav .profile .profile-link {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background: var(--light);
  padding: 10px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 160px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
nav .profile .profile-link.show {
  opacity: 1;
  pointer-events: visible;
  top: 100%;
}
nav .profile .profile-link a {
  padding: 10px 16px;
  display: flex;
  grid-gap: 10px;
  font-size: 14px;
  color: var(--dark);
  align-items: center;
  transition: all 0.3s ease;
}
nav .profile .profile-link a:hover {
  background: var(--grey);
}
/* NAVBAR */

/* MAIN */
main {
  width: 100%;
  padding: 24px 20px 20px 20px;
}
main .title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
main .breadcrumbs {
  display: flex;
  grid-gap: 6px;
}

main .info-data {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
}
main .info-data .card {
  padding: 20px;
  border-radius: 10px;
  background: var(--light);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
}
main .card .head {
  display: flex;
  justify-content: center;
}
.ajout {
  margin: 35px 0 35px 20px;
}
.ajout button {
  padding: 10px 25px;
  background: var(--light-dark);
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.ajout button span {
  text-transform: uppercase;
  font-weight: 700;
}
main .data .content-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  flex-basis: 400px;
  padding: 20px;
  background: var(--light);
  border-radius: 4px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}
main .data .content-data h3 {
  text-align: initial;
  /* margin-bottom: 30px; */
  padding: 5px;
  background: #f7f7f7;
  box-shadow: 1px 1px 4px 0px rgba(194, 194, 194, 0.75);
  border-radius: 4px;
  cursor: pointer;
  width: 70%;
}
main .content-data .head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.head div button {
  padding: 8px 15px;
  color: #fff;
  background: var(--light-dark);
  font-weight: 700;
  border-radius: 5px;
  border: 0;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.head div button:hover {
  background: #000;
}
main .content-data .head h3 {
  font-size: 20px;
  font-weight: 600;
}
.items-card-menu {
  width: 15px;
  height: 15px;
  margin: 4px;
}
.btn-overlay {
  background: none;
  border: 0;
  outline: none;
  transform: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.overlay {
  background: #f7f7f7;
  box-shadow: 1px 1px 4px 0px rgba(194, 194, 194, 0.75);
  border-radius: 4px;
  padding: 5px;
}
.overlay-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* flex-direction: column; */
}
main .content-data .head .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.form-profil {
  background: #f7f7f7;
  box-shadow: 1px 1px 4px 0px rgba(194, 194, 194, 0.75);
  border-radius: 4px;
  padding: 30px 60px;
  width: 100%;
}
/************************ Popup big background*************************/
.container-photo {
  height: 350px;
  width: 430px;
  position: relative;
}
.container-photo .wrapper-photo {
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 5px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper-photo.active {
  border: none;
}
.wrapper-photo .image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper-photo .icon {
  display: flex;
  justify-content: center;
  font-size: 100px;
  color: var(--red);
}
.wrapper-photo .text {
  font-size: 18px;
  font-weight: 500;
  color: #5b5b7b;
}
.wrapper-photo #cancel-btn i {
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: var(--red);
  cursor: pointer;
  display: none;
}
.wrapper-photo.active:hover #cancel-btn i {
  display: block;
}
.wrapper-photo #cancel-btn i:hover {
  color: #e74c3c;
}
.wrapper-photo .file-name {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 16px;
  color: #fff;
  display: none;
  background: var(--red);
}
.wrapper-photo.active:hover .file-name {
  display: block;
}
.container-photo #custom-btn {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: #000;
}

/****************************Popup police start*************************/
.police-btn select {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.police-btn select option {
  display: none;
  visibility: hidden;
}

.btn-form {
  display: flex;
  justify-content: flex-end;
}
.btn-police {
  display: inline-block;
  margin-top: 3rem;
  background: rgb(19, 19, 19);
  color: #fff;
  padding: 10px 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}
.btn-police:hover {
  transform: scale(0.95);
}
.choix {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}
.choix select {
  padding: 5px 20px 5px 2px;
  font-weight: 500;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  outline: 1px solid #e6e4e4;
  width: 70%;
}
.choix select option {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.input-file {
  margin-top: 30px;
}
.choix .titles-form {
  font-family: "Poppins", sans-serif;
  color: #bfbfbf;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
.login-police-container,
.login-background-container {
  position: fixed;
  top: -130%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-police-container.active,
.login-background-container.active {
  top: 0;
}

.login-police-container .form-police {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: #fff;
  width: 30rem;
}

.login-police-container .form-police h3 {
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
}

.login-police-container .form-police .btn-police {
  display: block;
  width: auto;
  color: #fff;
}

.login-police-container #form-police-close,
.login-background-container #form-background-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

/* Modifs identifiants */
.input-profil {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-identifiants {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 25px;
  width: 50%;
  gap: 20px;
}
.input-identifiants .input-id {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 8px 60px 10px 15px;
}

/* Modif bio */
.bio {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.bio textarea {
  height: 100px;
  width: 100%;
  padding: 8px 7px;
}
.input-msg {
  width: 75%;
}
.input-msg .input-msg-private {
  background: none;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 2px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  padding: 8px 0px 10px 15px;
  background: #ffffff;
}
.btn-valid {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bio .bio-caract {
  margin-top: 10px;
  font-size: 14px;
}
main form {
  margin-top: 6px;
}
main .form-group {
  width: 100%;
  display: flex;
  grid-gap: 10px;
}
main .form-group input {
  flex-grow: 1;
  padding: 10px 16px;
  border-radius: 5px;
  outline: none;
  background: var(--grey);
  border: none;
  transition: all 0.3s ease;
  width: 100%;
}
main .form-group input:focus {
  box-shadow: 0 0 0 1px var(--light-dark), 0 0 0 4px var(--light-blue);
}
main .btn-send {
  padding: 0 16px;
  background: var(--light-dark);
  border-radius: 5px;
  color: var(--light);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}
main .btn-send:hover {
  background: var(--dark-blue);
}

.btn-qr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto 80px;
}
/* MAIN */
/* CONTENT */

@media screen and (max-width: 810px) {
  .input-identifiants {
    width: 70%;
  }
}
@media screen and (max-width: 798px) {
  #content {
    position: relative;
    width: calc(100% - 60px);
    transition: all 0.3s ease;
  }
  nav .nav-link,
  nav .divider {
    display: none;
  }
  .logo-form {
    margin-bottom: 40px;
  }
  .input-profil {
    flex-direction: column-reverse;
  }
  .input-identifiants {
    width: 50%;
    margin-left: 0;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 670px) {
  .btn-valid {
    flex-wrap: wrap;
  }
  .input-msg {
    width: 90%;
  }
  .input-msg .input-msg-private {
    margin: 20px auto;
  }
}
@media screen and (max-width: 620px) {
  main .data .content-data {
    flex-wrap: wrap;
  }
  .overlay-img {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 10px;
    background: transparent;
    box-shadow: none;
  }
  .form-profil {
    padding: 30px 10px;
  }
  .input-identifiants {
    width: 50%;
  }
  .input-identifiants .input-id {
    padding: 8px 20px 10px 15px;
  }
  .input-msg .input-msg-private {
    width: 85%;
  }
}
@media screen and (max-width: 570px) {
  .input-identifiants {
    width: 55%;
  }
}
@media screen and (max-width: 510px) {
  .input-identifiants {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  main .content-data .head .menu {
    width: 100%;
  }
  main .data .content-data h3 {
    font-size: 14px;
  }
  label {
    font-size: 12px;
  }
  .bio {
    margin: 20px 0;
  }
  .bio .bio-caract {
    font-size: 11px;
  }
  .input-identifiants {
    width: 66%;
  }
  .input-msg .input-msg-private {
    font-size: 10px;
    width: 92%;
  }
  .btn-qr {
    margin: 40px auto 40px;
  }
  .login-police-container .form-police {
    padding: 1.5rem 1rem;
    width: 19rem;
  }
  .input-file {
    font-size: 11px;
  }
  .container-photo {
    width: 315px;
  }
  .wrapper-photo .text {
    font-size: 14px;
  }
}
@media screen and (max-width: 390px) {
  .form-profil {
    padding: 20px 10px;
  }
  main .data .content-data h3 {
    width: 100%;
    text-align: center;
  }
  .input-msg {
    width: 100%;
  }
  .input-msg .input-msg-private {
    font-size: 9px;
    padding: 8px 0px 10px 7px;
  }
  .input-identifiants {
    width: 85%;
  }
  .input-identifiants .input-id {
    padding: 8px 13px 10px 15px;
  }
  .container-photo {
    width: 300px;
  }
}
